<div class="discussion">
	<table>
		<tr>
			<th colspan=2> Élève </th>
			<th> Dossier </th>
			<th> État </th>
		</tr>
	<% @folders.each do |folder| %>
	  <tr>
	  	<td ><img src="<%= folder.user.avatar %>" class="imageProfil"></td>
	    <td style="border-left:none;"><%= link_to folder.user, folder.user %></td>
	    <td><h1><%= link_to folder.label, folder %></h1></td>
	    <td>
	    	<% if folder.isValidated %>
	    		<div class="point green_point"></div>
	    	<% else %>
	    		<div class="point red_point"></div>
	    	<% end %>
	    </td>
	  </tr>
	<% end %>
	</table>
</div>
