
<div class="discussion">
	<table>
		<tr>
			<th> Élève </th>
			<th> Dossier </th>
			<th> État </th>
		</tr>
	<% @folders.each do |folder| %>
	  <tr>
	    <td><%= link_to folder.user, folder.user %></td>
	    <td><%= link_to folder.label, folder %></td>
	    <td>
	    	<% if folder.isValidated %>
	    		<div class="point green_point"></div>
	    	<% else %>
	    		<div class="point red_point"></div>
	    	<% end %>
	    </td>
	  </tr>
	<% end %>
	</table>
</div>
