<div class="discussion">
	<h1 style="float:right;">
		<% if @folder.isValidated %>
			[v]
		<% else %>
			[x]
		<% end %>
	</h1>

	<h1><%= @folder.label %></h1> 

	<%= link_to 'Edit', edit_folder_path(@folder), :style => "color:black;" %>

</div>

<p id="notice"><%= notice %></p>

