 <div class="discussion">
    <table>
        <tr>
            <th colspan=2> Élève </th>
            <th> Classe </th>
            <th> État </th>
        </tr>
    <% @users.each do |user| %>
      <tr>
        <td ><img src="<%= user.avatar %>" class="imageProfil"></td>
        <td style="border-left:none;"><%= link_to user, user %></td>
        <td><%=  user.class_room.label %></td>

        <td>
            <% if user.is_validated %>
                <div class="point green_point"></div>
            <% else %>
                <div class="point red_point"></div>
            <% end %>
        </td>
      </tr>
    <% end %>
    </table>
</div>
