/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/screen.scss */
body {
  background-color: #2c3033;
  font-family: "Proxima Nova",Georgia,Serif;
  color: #fdece9;
}

/* line 25, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #fdece9;
}

/* line 29, ../sass/screen.scss */
.center-page {
  width: 950px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

/* line 35, ../sass/screen.scss */
#header {
  padding: 12px 0 21px 0;
  font-size: 14px;
}

/* line 42, ../sass/screen.scss */
.rougefonce {
  background: #a53e2d;
  padding: 10px 0 0 0;
  width: 100%;
}

/* line 47, ../sass/screen.scss */
.rougeclair {
  background: #bf4835;
}

/* line 51, ../sass/screen.scss */
#header ul li {
  display: inline-block;
  vertical-align: top;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

/* line 57, ../sass/screen.scss */
#logo {
  height: 49px;
  padding-left: 80px;
}

/* line 61, ../sass/screen.scss */
#li1 {
  padding-left: 112px;
}

/* line 64, ../sass/screen.scss */
#li2 {
  padding-left: 45px;
}

/* line 65, ../sass/screen.scss */
#li3 {
  padding-left: 45px;
}

/* line 66, ../sass/screen.scss */
.gauche {
  display: inline-block;
  vertical-align: top;
}

/* line 71, ../sass/screen.scss */
.droite {
  display: inline-block;
  vertical-align: top;
}

/* line 76, ../sass/screen.scss */
#header nav ul {
  padding-top: 25px;
}

/* line 80, ../sass/screen.scss */
#header nav ul li a :hover {
  color: #e8e8e8;
}

/* line 83, ../sass/screen.scss */
.gauche nav ul li a {
  color: #c3c3c3;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

/* line 87, ../sass/screen.scss */
.gauche nav ul li a :hover {
  color: #e8e8e8;
}

/* line 90, ../sass/screen.scss */
#page .gauche {
  width: 195px;
  padding: 40px 0 0 21px;
  font-size: 12pt;
  letter-spacing: 0.1em;
}

/* line 97, ../sass/screen.scss */
#page .droite {
  width: 715px;
  margin: 50px 0 0 0;
}

/* line 101, ../sass/screen.scss */
#page .gauche ul li {
  line-height: 45px;
  padding-left: 15px;
}

/* line 105, ../sass/screen.scss */
.ajoutEnseignant {
  margin-top: 30px;
  display: block;
  border-top: 1px solid #222527;
  border-bottom: 1px solid #222527;
  padding: 20px 0 20px 15px;
}

/* line 113, ../sass/screen.scss */
.dossier {
  margin-top: 30px;
  display: block;
  background-color: #222527;
  padding: 20px 20px 20px 20px;
  text-align: center;
  line-height: 150%;
}

/* line 122, ../sass/screen.scss */
.gauche a {
  color: #c3c3c3;
}

/* line 125, ../sass/screen.scss */
.fleche {
  padding: 0 0 0 10px;
}

/* line 130, ../sass/screen.scss */
#headerDroite {
  border-bottom: 1px solid #303337;
  background-color: #3a3e42;
  padding: 23px 15px 23px 15px;
  width: 100%;
  letter-spacing: 0.1em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

/* line 139, ../sass/screen.scss */
#headerDroite a {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

/* line 142, ../sass/screen.scss */
.discussion {
  width: 100%;
  padding: 0 15px 30px 15px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #c7c8c8;
  border-top: 1px solid #f1f0f0;
}

/* line 153, ../sass/screen.scss */
.discussion .nomUtilisateur a {
  text-transform: uppercase;
  color: #bf4835;
  padding: 15px 0 0 0;
  letter-spacing: 0.1em;
}

.discussion > h1 {
  text-transform: uppercase;
  color: #bf4835;
  padding: 15px 0 0 0;
  letter-spacing: 0.1em;
}

/* line 159, ../sass/screen.scss */
.input {
  margin-top: 23px;
  display: block;
  border: 1px solid #c7c8c8;
  padding: 13px 15px 13px 15px;
  width: 680px;
  outline: 0 none;
}

/* line 168, ../sass/screen.scss */
#input2 {
  margin-top: -3px;
  border: 1px solid #c7c8c8;
}

/* line 173, ../sass/screen.scss */
#inclureVideo {
  display: inline-block;
  color: #2c3033;
  padding: 13px 0 0 20px;
}

/* line 178, ../sass/screen.scss */
#joindreVideo {
  display: inline-block;
  color: #bf5141;
  margin: 0 0 0 30px;
  padding: 0 0 0 80px;
}

/* line 184, ../sass/screen.scss */
.basArticle {
  margin: 23px 0 0 0;

}


/* line 189, ../sass/screen.scss */
#envoyer {
  margin: 10px 0 20px;
  border: none;
  background-color: #2c3033;
 float:right;
  text-transform: uppercase;
  color: #cecece;
  padding: 13px 13px 13px 13px;
  margin-right: 3px;
  letter-spacing: 0.2em;
}
#envoyer2{
  margin: 10px;
  border: none;
  background-color: #2c3033;
  text-align: left;
  text-transform: uppercase;
  color: #cecece;
  padding: 13px 13px 13px 13px;
  margin-right: 3px;
  letter-spacing: 0.2em;
}

/* line 200, ../sass/screen.scss */
#plus {
  font-weight: bold;
}

/* line 203, ../sass/screen.scss */
.imageProfil {
  width: 67px;
  height: 67px;
  border: 4px solid white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.27) 0 0 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.27) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.27) 0 0 4px;
}

/* line 209, ../sass/screen.scss */
.libUtilisateur {
  color: #2c3033;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0 0 15px;
}

/* line 217, ../sass/screen.scss */
.nomUtilisateur {
  display: block;
}

/* line 220, ../sass/screen.scss */
.classeUtilisateur {
  display: inline-block;
  padding: 5px 0 0 0;
  color: #9c9b9b;
  font-size: 14px;
}

/* line 226, ../sass/screen.scss */
.dateMessage {
  display: inline-block;
  float: right;
}

/* line 230, ../sass/screen.scss */
.reponse #flecheDiscussion {
  margin: -4px 0 0 -23px;
  position: absolute;
}

/* line 236, ../sass/screen.scss */
.discussion .libUtilisateur .reponse {
  color: #666667;
  width: 530px;
  background-color: #f1f0f0;
  border: solid 1px #c7c8c8;
  margin: 15px 0 0 0;
  padding: 15px;
}

/* line 245, ../sass/screen.scss */
.discussion .libUtilisateur .reponse h1 {
  color: #bf4835;
  text-transform: none;
}

/* line 249, ../sass/screen.scss */
.discussion .libUtilisateur .reponse p {
  padding: 10px 0 0 0;
  font-size: 14.5px;
  white-space:break-word;
}

.discussion p {
  color: black;
  margin: 10px 10px;
}

.discussion table {
  color: black;
}
.discussion table a{
  color: black;
}

.discussion {
  padding-top: 20px;
}


.inline{
  display:inline-block;
  vertical-align: middle;
}

/* POINT FOR VALIDATED */

.point{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 15px;
}

.red_point{
  background-color: red;
}

.green_point{
  background-color: green;
}

/* TABLE */



.discussion table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
.discussion table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
.discussion table a:active,
.discussion table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
.discussion table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px;
  border:#ccc 1px solid;
  text-align: center;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
.discussion table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  font-size: 15px;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  text-align: center;
}
.discussion table th:first-child {
  text-align: center;
  padding-left:20px;
}
.discussion table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
.discussion table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
.discussion table tr {
  text-align: center;
  padding-left:20px;
}
.discussion table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
.discussion table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.discussion table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.discussion table tr:last-child td {
  border-bottom:0;
}
.discussion table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
.discussion table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
.discussion table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

.discussion table h1 a {
  text-transform: uppercase;
  color: #bf4835;
  padding: 15px 0 0 0;
  letter-spacing: 0.1em;
}


/* FOOTER*/
#footer {
  width: 100%;
  color: #5f6365;
  background-color: #222527;
  margin-top: 60px;
  padding: 40px 0 40px 0;
  text-align: center;
}

#footer span {
  padding: 30px;
}

#footer span a{
  color: #5f6365;
}

#footer span a:hover{
  color: #FDECE9;
}


/* DOWNLOAD */

.download{
  margin: 30px 0 0px;
  border: none;
  background-color: #2c3033;
  text-transform: uppercase;
  color: #cecece;
  padding: 13px 13px 13px 13px;
  margin-right: 3px;
  letter-spacing: 0.2em;
}

/* line 295, ../sass/screen.scss */
.slogan {
  margin: 0 0 0 40px;
  width: 580px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 18px 0 18px 20px;
  border-left: 1px solid #a53e2d;
}

/* line 304, ../sass/screen.scss */
.gaucheAcceuil {
  vertical-align: top;
  display: inline-block;
}

/* line 308, ../sass/screen.scss */
.droiteAcceuil {
  vertical-align: top;
  display: inline-block;
}

/* line 312, ../sass/screen.scss */
#page .gaucheAcceuil {
  width: 465px;
  letter-spacing: 0.1em;
  margin: 60px 0 0 0;
}

/* line 318, ../sass/screen.scss */
#page .droiteAcceuil {
  width: 465px;
  letter-spacing: 0.1em;
  margin: 60px 0 0 0;
}

/* line 323, ../sass/screen.scss */
.formulaireAcceuil {
  padding: 0 30px 0 30px;
}

/* line 328, ../sass/screen.scss */
.formulaireAcceuil h1 {
  padding: 20px;
  text-align: center;
  background-color: #3a3e42;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

/* line 335, ../sass/screen.scss */
#formulaireGauche {
  border-right: 1px solid #3a3e42;
}

/* line 340, ../sass/screen.scss */
.formAccueil {
  padding: 10px;
  background-color: #f1f0f0;
  color: black;
}

/* line 346, ../sass/screen.scss */
.inputAccueil {
  margin-top: 5px;
  display: block;
  border: 1px solid #c7c8c8;
  padding: 13px 15px 13px 15px;
  width: 90%;
  outline: 0 none;
  color: #8c8c8c;
}

/* line 357, ../sass/screen.scss */
.selectAccueil select {
  margin-top: 5px;
  background: white;
  width: 98.5%;
  padding: 13px 15px 13px 15px;
  border: 1px solid #ccc;
  color: #8c8c8c;
  -webkit-appearance: none;
  outline: 0 none;
  overflow: hidden;
  border-radius: 0;
}

/* line 375, ../sass/screen.scss */
.envoyerAccueil {
  border: none;
  background-color: #2c3033;
  text-transform: uppercase;
  color: #cecece;
  padding: 13px 13px 13px 13px;
  margin: 10px 0 3px 0;
  letter-spacing: 0.2em;
  cursor: pointer;
}

/* line 386, ../sass/screen.scss */
.motdepassAccueil {
  margin: 0 60px 0 0;
  color: #9c9b9b;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 392, ../sass/screen.scss */
.basFormulaire {
  text-align: right;
}

/* NOTICE */
.notice{
  width:100%;
  text-align: center;
  margin-top:15px;
  margin-bottom: -20px;
}





