<div class="discussion">
	<%= form_tag user_sessions_path, :method => :post do %>

	    <%= text_field_tag :mail, nil, :placeholder => 'E-mail' %>

	    <%= password_field_tag :password, nil, :placeholder => '••••••'  %>

	  <div class="actions">
	    <%= submit_tag "Login", :id => 'envoyer2' %>
	  </div>
	<% end %>
</div>